# Ignorar dependencias (¡LA MÁS IMPORTANTE!)
/node_modules

# Ignorar la carpeta de 'build' (lo que genera Vite al compilar)
/dist

# Archivos de entorno (¡Contienen credenciales!)
.env
.env.local

CREDENCIALES.md

# Logs
npm-debug.log*
pnpm-debug.log*